
.mui-plus.mui-android header.mui-bar {
	display: none;
}
 
.mui-plus.mui-android .mui-bar-nav ~ .mui-content {
	padding: 0;
}
 
.mui-slider-indicator {
	bottom: 0;
}
 
.mui-slider {
	background-color: #f2f2f2;
}